/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: Megrim;
    src: url(files/Megrim/Megrim-Regular.ttf);
}

.main {
    display: flex;
    min-height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.left-side {
    width: 40%;
    background-image: url('files/images/tianhao-wang-aME_eAFPU2A-unsplash.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-side {
    width: 60%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logo {
    font-size: 5em;
    font-family: Megrim;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    background: rgba(0, 0, 0, 0.3);
    position: relative;
    top: 20%;
    overflow: hidden;
}

.credits {
    display: flex;
    width: 100%;
    height: 5%;
    justify-content: center;
    color: rgb(187, 187, 187);
    font-size: 12px;
}

em {
    font-style: italic; 
    /* css reset moment */
}

.info {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

fieldset {
    display: flex;
    align-items: center;
    gap: 48px;
}

.info, .form-container, .login {
    margin-left: 46px;
    width: 80%;
}

legend {
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

button {
    margin-top: 24px;
    width: 200px;
    padding: 12px;
    border-radius: 8px;
    border-style: none;
    color: white;
    font-weight: bold;
    background-color: #0A6BBD;
}

button:hover {
    background-color: #03579c;
}

.login>a{
    color: #1186e6;
    font-weight: bold;
}

input {
    background-color: black;
    color: white;
    border: 1px solid rgb(53, 53, 53);
    border-radius: 4px;
    padding: 4px;
}

.logo>img {
    width: 0.8em;
    filter: invert(100%) sepia(6%) saturate(0%) hue-rotate(288deg) brightness(107%) contrast(101%);
}

input[type='password']:invalid {
    border-color: rgb(116, 0, 29);
}

input:focus {
    outline: none !important;
    border-color: #1186e6 !important;
}

.credits>a{
    color: rgb(187, 187, 187);
    margin-left: 3px;
}

.not-match {
    color: rgb(190, 0, 48);
}